<div class="menu">
  <h2>Menu principal</h2><img height="50%" src="../imagenes/iconomenu.png" />

  <ul>
    <li><a href="../Index.html">Inicio</a></li>
    <li><a href="../PaginaFacturacion/pro.html">Facturacion</a></li>
    <li><a href="#">Configuracion</a></li>
  </ul>
</div>