body{
    background-color:floralwhite;
}

#masss{
  display: none;
}



@media(max-width:650px) {

  .contenedor-cook22
  {margin: 30px;
  }

  #masss{
    display: block;
  font-weight: bold;
  transition: 0.3s;
  }

  #masss:hover{
    color: darkgray;

  }

  #desplegarrr{
    display: none;
  }

   .cook{
    display: flex;
    padding: 8%;
    justify-items: center;
    flex-direction: column;
    align-items: center;
   }

   .titulo-cook22{
    font-size:large;  
    font-style: oblique;
    font-weight: 700;
  margin: 3%;
   


}




.cook-bt22{
    margin: 6%;
    width: 12vw;
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
 
  
}



.cook-bt22 a {
    
    color: #FFFFFF;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;

 
}

.cook-bt22:hover{
    color: rgb(216, 213, 213);
    background-color: darkblue;
}




}