<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="./css/Inicial.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
     <link rel="stylesheet" href="./css/cookies.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>

  </head>
  <body onload="Cookies()">

    <header>
      <div class="divHeader">
        <h1 class="titleCRM">CRM Facturacion</h1>
      </div>
    </header>
    <main class="main">
      <div class="contenedor">

        <nav class="nav" id="nav">
          <label for="check" class="escondermenu" id="escondermenu">
             &#215
          </label>
          <h3 class="titlemenu">Menu</h3>
          <div class="divnav">
            <a>CRM Facturacion</a>
            <a>Empresas</a>

            <a>Clientes</a>
            <a>Promociones</a>
            <a>¿Quienes Somos?</a>
          </div-->
        </nav>

        <label class="mostrarmenu" id="mostrarmenu">
          &#8801
        </label>

        <div id="listadoBotones">
          <div id="contenedor-cookies" class="contenedor-cookies">
           <div class="cookies">
          <h3 class="titulo-cookie">CRM Facturacion</h3>
          <h3  class="titulo-cookie" id="aviso-cookie">Su privacidad es importante para nosotros</h3>
          <div class="contenido"></div>
          <p class="texto-cookie">Nosotros y nuestros socios almacenamos o accedemos a información en un dispositivo, tales como cookies, y procesamos datos personales, tales como identificadores únicos e información estándar enviada por un dispositivo, para anuncios y contenido personalizados, medición de anuncios y del contenido <a href="/cookies" id="mas">...Leer mas</a></p><span id="desplegar" class="texto-cookie"> e información sobre el público, así como para desarrollar y mejorar productos. Con su permiso, nosotros y nuestros socios podemos utilizar datos de localización geográfica precisa e identificación mediante las características de dispositivos. Puede hacer clic su consentimiento a nosotros y a nuestros socios para que llevemos a cabo el procesamiento previamente descrito. De forma alternativa, puede acceder a información más detallada y cambiar sus preferencias antes de otorgar o negar su consentimiento. Tenga en cuenta que algún procesamiento de sus datos personales puede no requerir de su consentimiento, pero usted tiene el derecho de rechazar tal procesamiento. Sus preferencias se aplicarán solo a este sitio web. Puede cambiar sus preferencias en cualquier momento entrando de nuevo en este sitio web o visitando nuestra política de privacidad.</span>
          <button class="cookie-bt" id="aceptar-bt" value="aceptar">Aceptar terminos y condiciones</button>
          <button class="cookie-bt" id="configuracion-bt" href="#">Configuracion</button>
           </div>
        </div>
          <a  class="botonesbody" id="botonListado1" href="/ListadoFacturas">Facturas</a>
          <a class="botonesbody" id="botonListado2" href="/Facturacion"> Confeccionar Factura</a>
          <a class="botonesbody"
            id="botonListado3"
            href="/configuracion/configuracion.html"
          >Configuracion General</a>
          <a class="botonesbody" id="botonListado4" href="#">Estadisticas</a>
          <a  class="botonesbody" id="botonListado5" href="#">Ayuda</a>
          <a class="botonesbody" id="botonListado6" href="#"> Cerrar sesion</a>
        </div>

      </div>

    </main>

    <footer class="footer">
      <div class="container">
        <div>
          <h2 class="titulo-foot">Informacion de la empresa</h2>

          <ul>
            <li class="footer-informacion"><a href="#">¿Que somos?</a></li>
            <li class="footer-informacion"><a href="#">¿Que es un crm?</a></li>
            <li class="footer-informacion"><a href="#">¿En que te puede
                beneficiar un crm?</a></li>
            <li class="footer-informacion"><a href="#">Terminos legales</a></li>
          </ul>
        </div>

        <div>
          <h2 class="titulo-foot">Contactanos</h2>

          <p class="footer-informacion"><img
              src="../imagenes/facebook.svg"
              width="20px"
              height="20px"
            />
            CRM Empresarial</p>
          <p class="footer-informacion">
            <img src="../imagenes/instagram.svg" width="20px" height="20px" />
            @crmempresaial</p>
          <p class="footer-informacion">
            <img
              src="../imagenes/envelope-fill.svg"
              width="20px"
              height="20px"
            />
            crm.empresial@hotmail.com</p>
          <p class="footer-informacion">
            <img src="../imagenes/twitter.svg" width="20px" height="20px" />
            @crmempresarial.</p>

        </div>
      </div>

      <div class="footer-final">
        <p>Crm empresarial ©2022</p>
      </div>

    </footer>
    <script src="./js/inicial.js"></script>
    

  </body>
</html>